/*
*************************
* Chrome / IE / IE Edge
*************************
*/

.option--polyfill ::-webkit-input-placeholder { /* Edge */
    padding-left:0.25em;
    color: #cdcdcd !important;
    font-weight: bold;
}

.option--polyfill :-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 0.25em;
    color: #cdcdcd !important;
    font-weight: bold;
}

.option--polyfill ::placeholder {
    padding-left: 0.25em;
    color: #cdcdcd !important;
    font-weight: bold;
}

.option--polyfill textarea:focus,
.option--polyfill input:focus,
.option--polyfill select:focus {
    outline: none;
}

.option--polyfill textarea {
    background-color:#fff;
}

.option--polyfill input[type="checkbox"],
.option--polyfill input[type="radio"] {
    cursor: pointer;
}

/* prevents tbody from inheriting inline for display attribute */
.option--polyfill table tbody {
    display: table;
    width: 100%;
    height: 100%;
}

.option--polyfill [v-cloak] {
    display: none !important;
}


/*
*************
* tinyMCE
*************
*/

.option--polyfill table.mceLayout, .option--polyfill textarea.tinyMCE {
    width: 100% !important;
}


@media only screen and (max-width: 450px) {
    .option--polyfill table.mceLayout, .option--polyfill textarea.richEditor {
        width: 450px !important;
    }
}


/*
*************
* jQuery
*************
*/

.option--polyfill .ui-datepicker-trigger {
    margin: 10px;
}

.option--polyfill .ui-dialog-notitlebar .ui-dialog-titlebar {
    display: none;
}

.option--polyfill .ui-dialog-nopadding {
    padding: 0px;
}

.option--polyfill .ui-dialog .ui-dialog-content {
    padding: 0px;
}

.option--polyfill .ui-widget-overlay {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: none;
    opacity: 0.80;
    z-index: 1040;
}

.option--polyfill .ui-widget.ui-widget-content {
    border: 0px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.option--polyfill .ui-dialog-noshadow {
    border: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}
