@font-face {
  font-family: "rmd-icons-1";
  src: url("../fonts/rmd-icons-1.eot?v=0.0.6");
  src: url("../fonts/rmd-icons-1.eot?#iefix") format("embedded-opentype"), url("../fonts/rmd-icons-1.woff?v=0.0.6") format("woff"), url("../fonts/rmd-icons-1.ttf?v=0.0.6") format("truetype"), url("../fonts/rmd-icons-1.svg?v=0.0.6") format("svg");
  font-weight: 600;
  font-style: normal;
}