.rollstrip {
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .rollstrip-content {
    display: inline-block;
    width: 0em;
    overflow: hidden;
    opacity: 1;
    box-sizing: border-box;
    border-radius: 0.33em;
    line-height: 1.75em;
    font-size: 0.75em;
    text-indent: 0.5em;
    background-color:#d215d0;
    color: #fff;
    -webkit-box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.45);
    -webkit-transition: width 1.5s cubic-bezier(0.8,-0.27,0.025,1.105);
    -moz-transition: width 1.5s cubic-bezier(0.8,-0.27,0.025,1.105);
    transition: width 1.5s cubic-bezier(0.8,-0.27,0.025,1.105);
  }
  
  .rollstrip-button {
    display: inline-block;
    position: relative;
    border-radius: 1em;
    color:#d215d0;
    background-color:#d215d0;
  }

  .rollstrip-button::after {
    content: '\A9';
  }

  .rollstrip:hover > .rollstrip-content,
  .rollstrip.rollstrip-activated > .rollstrip-content {
    width: var(--width-end, 10em);
  }
