.shape-curve-bottom-1 {
    -webkit-mask-image:url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 906' style='enable-background:new 0 0 1920 906;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231B9CFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,512c0,0,246.7-24.3,421.5-24.3s401.8,5.5,542.7,5.5c219.9,0,854.3-18.4,955.8-35c-1.4-46,0-458.2,0-458.2H0 V512z'/%3E%3C/svg%3E%0A");
    mask-image:url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 906' style='enable-background:new 0 0 1920 906;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231B9CFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,512c0,0,246.7-24.3,421.5-24.3s401.8,5.5,542.7,5.5c219.9,0,854.3-18.4,955.8-35c-1.4-46,0-458.2,0-458.2H0 V512z'/%3E%3C/svg%3E%0A");
}

.shape-circle-8th-filled {
    -webkit-mask-image:url("data:image/svg+xml,%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.53 19.08'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ff037c;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2-2'%3E%3Cpath class='cls-1' d='M18.53,1.3C12.61-.68,5.98-.45,0,2.34L8.26,19.08c1.28-.44,2.63-.42,3.85,0L18.53,1.3Z'/%3E%3C/g%3E%3C/svg%3E");
    mask-image:url("data:image/svg+xml,%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.53 19.08'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ff037c;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2-2'%3E%3Cpath class='cls-1' d='M18.53,1.3C12.61-.68,5.98-.45,0,2.34L8.26,19.08c1.28-.44,2.63-.42,3.85,0L18.53,1.3Z'/%3E%3C/g%3E%3C/svg%3E");
    transform-origin: 55% 135%;
}

.shape-donut-filled {
    -webkit-mask-image:url("data:image/svg+xml,%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.67 36.67'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ff037c;opacity:.39;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2-2'%3E%3Cpath class='cls-1' d='M18.34,0C8.21,0,0,8.21,0,18.34s8.21,18.34,18.34,18.34,18.34-8.21,18.34-18.34S28.46,0,18.34,0Zm0,22.21c-2.14,0-3.87-1.73-3.87-3.87s1.73-3.87,3.87-3.87,3.87,1.73,3.87,3.87-1.73,3.87-3.87,3.87Z'/%3E%3C/g%3E%3C/svg%3E");
    mask-image:url("data:image/svg+xml,%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.67 36.67'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ff037c;opacity:.39;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2-2'%3E%3Cpath class='cls-1' d='M18.34,0C8.21,0,0,8.21,0,18.34s8.21,18.34,18.34,18.34,18.34-8.21,18.34-18.34S28.46,0,18.34,0Zm0,22.21c-2.14,0-3.87-1.73-3.87-3.87s1.73-3.87,3.87-3.87,3.87,1.73,3.87,3.87-1.73,3.87-3.87,3.87Z'/%3E%3C/g%3E%3C/svg%3E");
}

[class*="shape-circle"] {
    -webkit-mask-position: 0%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-position: 0%;
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--shape-background-color, #ddd);
}

[class*="shape-donut"] {
    -webkit-mask-position: 0%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-position: 0%;
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--shape-background-color, #ddd);
}

[class*="shape-curve"] {
    -webkit-mask-position: 0%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-position: 0%;
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--shape-background-color, #ddd);
}
