/* button */

.button {
    padding-top: 0.75em;
    padding-right: 1em;
    padding-bottom: 0.75em;
    padding-left: 1em;
}

.button-rounded {
    padding-top: 0.75em;
    padding-right: 1em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    border-radius: 0.75em;
}

.button-circle {
    padding: 1em;
    border-radius: var(--button-circle-border-radius, 50em);
}

.button-pianokey {
    height: 5em;
    padding: 1em;
    border-radius: var(--button-circle-border-radius, 50em);
}

.button-leaf {
    padding: 1em;
    border-radius: 0.25em 1em;
}

.button,
.button-rounded,
.button-circle,
.button-pianokey,
.button-leaf {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", Arial, serif;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    font-size: 1rem;
    background-color: #0089cf;
    color: #fff;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    border-style: solid;
    border-width: 0px;
    border-color: #5b9bd5;
    cursor: pointer;
}

.button:hover {
    background-color: #243a82;
}

.button-rounded:hover {
    background-color: #243a82;
}


.button-circle:hover {
    background-color: #243a82;
}

.button-pianokey:hover {
    background-color: #243a82;
}

.button-leaf:hover {
    background-color: #243a82;
}

/* button swap */

.button-swap {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    line-height: normal;
    white-space: nowrap;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    cursor: pointer;
}

.button-swap.option--buttonize {
    padding: 0.25em;
    font-family: "Montserrat", Arial, serif;
    font-weight: 700;
    font-size: 2em;
    background-color: #0089cf;
    color: #fff;
    border-style: solid;
    border-width: 0px;
    border-color: #5b9bd5;
    border-radius: 0.25em;
    -webkit-appearance: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-swap.option--buttonize:hover {
    background-color: #243a82;
}

.button-swap > div,
.button-swap > span,
.button-swap > a,
.button-swap > p,
.button-swap > li {
    display: none;
}

.button-swap > *.selected {
    display: block;
}

/* compound buttons */

.toggle-basic {
    display: inline-block;
    width: 2em;
    box-sizing: border-box;
}

.toggle-basic-track {
    display: inline-block;
    width: 100%;
    height: 0.7em;
    background-color:#aaa;
    border-radius: 1em;
    -moz-box-shadow: inset 0 1.5px 2px #777;
    -webkit-box-shadow: inset 0 1.5px 2px #777;
    box-shadow: inset 0 1.5px 2px #777;
}

.toggle-basic-button {
    display: block;
    position: relative;
    z-index: 1;
    top: calc(50% - 0.5em);
    left: 0%;
    width: 1em;
    height: 1em;
    background-color: #fff;
    border-radius: 5em;
    -webkit-transition: left 300ms ease-out;
    -moz-transition: left 300ms ease-out;
    transition: left 300ms ease-out;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.toggle-basic.state-on > .toggle-basic-track > .toggle-basic-button {
    left: calc(75% - 0.5em);
}


.toggle-inset {
    display: inline-block;
    width: 2em;
    box-sizing: border-box;
}

.toggle-inset-track {
    display: inline-block;
    width: 100%;
    height: 1.125em;
    background-color:#aaa;
    border-radius: 1.25em;
    -moz-box-shadow: inset 0 1.5px 2px #777;
    -webkit-box-shadow: inset 0 1.5px 2px #777;
    box-shadow: inset 0 1.5px 2px #777;
}

.toggle-inset-button {
    display: block;
    position: relative;
    z-index: 1;
    top: calc(50% - 0.5em);
    left: 0%;
    width: 1em;
    height: 1em;
    background-color: #fff;
    border-radius: 5em;
    -webkit-transition: left 300ms ease-out;
    -moz-transition: left 300ms ease-out;
    transition: left 300ms ease-out;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.toggle-inset.state-on > .toggle-inset-track > .toggle-inset-button {
    left: calc(75% - 0.5em);
}

