/* menu nest */

.menu-nest {
    display: inline-table;
    position: relative;
    width: 300px;
    padding: 0em;
    -overflow: hidden;
    background-color: #f5f5f5;
}

.menu-nest-content {
    display: inline-flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 0em;
    box-sizing: border-box;
}

.menu-nest-item-body {
    display: inline-flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 0em;
    box-sizing: border-box;
}

.menu-nest-item {
    width: 100%;
}

.menu-nest-item-button {
    width: 1em;
    height: 1em;
    flex: 10% 1 1;
    padding: 0em 0em;
    align-self: center;
    text-indent: 0;
    font-size: 1rem;
    font-weight: 900;
}

.menu-nest-item-button::after {
    content: var(--menu-nest-item-button, '\25B8');
    margin-left: -1em;
}

.menu-nest > .menu-nest-content .menu-nest-item.clicked > .menu-nest-item-header > .menu-nest-item-button::after {
    content: var(--menu-nest-item-button-clicked, '\25BE');
}

.menu-nest:not(.option--expand-no-hover) > .menu-nest-content .menu-nest-item:hover > .menu-nest-item-header > .menu-nest-item-button::after {
    content: var(--menu-nest-item-button-clicked, '\25BE');
}

.menu-nest > .menu-nest-content > .menu-nest-item {
    display: inline-flex;
    flex-flow: column nowrap;
    flex: 100% 1 1;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color:#555;
    cursor: pointer;
}

.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-header {
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    padding: 0.5em 0em;
}

.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-header > *:first-child {
    flex: 90% 1 1;
}

.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-header:hover {
    font-weight: 500;
    background-color: #eee;
}

.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body,
.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body,
.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body,
.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body,
.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body,
.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body,
.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body,
.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body,
.menu-nest > .menu-nest-content .menu-nest-item > .menu-nest-item-body {
    display: none;
    opacity: 0;
}

.menu-nest > .menu-nest-content .menu-nest-item.clicked > .menu-nest-item-body {
    display: inline-flex;
    animation-name: menu-radial-rotate-keyframes;
    animation-direction: var(--menu-nest--animation-direction, var(--default-menu-nest--animation-direction, normal));
    animation-fill-mode: forwards;
    animation-duration: var(--menu-nest--animation-duration, var(--default-menu-nest--animation-duration, 300ms));
    animation-iteration-count: 1;
    animation-delay: var(--menu-nest--animation-delay, var(--default-menu-nest--animation-delay, 0s));
    animation-timing-function: ease-in-out;
}

.menu-nest:not(.option--expand-no-hover) > .menu-nest-content .menu-nest-item:hover > .menu-nest-item-body {
    display: inline-flex;
    animation-name: menu-radial-rotate-keyframes;
    animation-direction: var(--menu-nest--animation-direction, var(--default-menu-nest--animation-direction, normal));
    animation-fill-mode: forwards;
    animation-duration: var(--menu-nest--animation-duration, var(--default-menu-nest--animation-duration, 300ms));
    animation-iteration-count: 1;
    animation-delay: var(--menu-nest--animation-delay, var(--default-menu-nest--animation-delay, 0.2s));
    animation-timing-function: ease-in-out;
}

@keyframes menu-nest-opacity-keyframes {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
