/* base components */

.modal-overlay {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: var(--default-modal-overlay-background-color, #00000077);
}

.mode--modal .modal-overlay {
    display: block;
}

.mode--menu-radial .modal-overlay {
    display: block;
    background-color: #ffffff77;
}
